.footer{
    height: 5rem;
    background-color: rgb(3, 81, 112);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}