@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import "./header";
@import "./main";
@import "./footer";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: "poppins", sans-serif;
    font-size: 16px;

    &::-webkit-scrollbar {
        width: 1em;
    }
    
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px skyblue;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: rgb(3, 81, 112);
        border-radius: 10px;
    }
}
